
header{
    display: grid;
     gap: 3.7rem;
    justify-items: center;
}

.logo{
    width: 250px;
    transition: 0.4s;
    
}

.logo:hover{
    width: 270px;
}

.menu {
    font-size: 20px;    
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

a{
    text-decoration: none;
    padding: 1rem 30px;
    text-transform: uppercase;
    background: white;
    border-radius: 4px; 
    color: black;
    transition: 0.3s;
}

a:hover{
    background: #e93c2d;
    color: aliceblue;
}