@media (max-width:768px) {
    .conteudo {
        grid-template-columns: 1fr;

    }

    .introducao {
        justify-items: center;
        text-align: center;
    }

    img {
        border-radius: 14px;
        padding: 8px;
    }

    .detalhe,
    .menu {
        display: none;
    }

    .botao {
        display: grid;
        align-items: center;
    }

    .subtitulo{
        font-size: 2rem;
        text-align: center;
    }

    .rodape p {
        font-size: 1.1rem;
    }

}