img{
    max-width: 100%;
    display: block;
}

p{
    font-size: 24px;
}

h1{
    font-family: 32px;
}


.botao{
    background: var(--vermelho);
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    text-transform: uppercase;
}

.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}
.introducao{
    background: #fff;
    display: grid;
    gap: 20px;
    
  
}